.status-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    position: fixed;
    width: 100%;
    top: 0px;
    left:0px;
    padding: 5px;
    color: #646464;
}

.status-bar{
    font-size: 15px;
}